.language-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--color-netflix-white);
    padding: 10px 5px;
    border: 1px solid var(--color-netflix-white);
    border-radius: 5px;
    margin-right: 2rem;
}