.story-header {
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8));
}

.story-header .container {
    display: flex;
    justify-content: space-between;
}

.story-header .container div {
    display: flex;
}