.faq-list {
    list-style: none;
    max-width: 80%;
    margin: 4rem auto 0;
}

.faq-list li {
    position: relative;
    padding: 1.5rem 2.2rem 1.5rem 1.5rem;
    background-color: var(--color-netflix-gray);
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.faq-list li span {
    font-size: 1.625rem;
    color: var(--color-netflix-white);
    text-decoration: none;
 }

 .faq-list li span::after {
    content: "+";
    font-size: 3rem;
    font-weight: 300;
    display: inline-block;
    position: absolute;
    right: 1.5rem;
    top: 20%;
 }

 .faq-list .answer {
    background-color: var(--color-netflix-gray);
    margin-top: 0.5rem;
 }

 .faq-list .answer::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-netflix-black);
 }