.faq-list {
    list-style: none;
    max-width: 80%;
    margin: 4rem auto 0;
    font-size: 1.625rem;
}

.faq-list li {
    background-color: var(--color-netflix-gray);
    margin-bottom: 0.5rem;
}

.faq-list li button {
    display: flex;
    justify-content: space-between;
    font-size: 1.625rem;
    align-items: center;
    padding: 0.5rem 1.5rem;
    color: var(--color-netflix-white);
    background-color: var(--color-netflix-gray);
    border: none;
    cursor: pointer;
    width: 100%;
}

.faq-list li button::after {
    content: "+";
    font-size: 3rem;
    font-weight: 300;
    display: inline-block;
}

.faq-list li hr {
    border: none;
    height: 2px;
    background-color: var(--color-netflix-black);
    margin: 0;
}

.faq-list .answer {
    background-color: var(--color-netflix-gray);
    padding: 1.5rem;
    text-align: justify;
}
.faq-list .answer p {
    line-height: 1.2;
}