.faq-list {
    list-style: none;
    max-width: 80%;
    margin: 0.5rem auto 0;
    font-size: 1.625rem;
}

.faq-list li {
    background-color: var(--color-netflix-gray);
    margin-bottom: 0.5rem;
}

.faq-list li button {
    display: flex;
    position: relative;
    justify-content: space-between;
    font-size: 1.625rem;
    align-items: center;
    padding: 1.5rem 2rem;
    color: var(--color-netflix-white);
    background-color: var(--color-netflix-gray);
    border: none;
    cursor: pointer;
    width: 100%;
}

.faq-list li button svg {
    fill: #fff;
    height: 1em;
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    width: 1em;
}

.faq-card li button .svg-closed {
    transform: translateY(-50%) rotate(-45deg);
}

.faq-list li hr {
    border: none;
    height: 2px;
    background-color: var(--color-netflix-black);
    margin: 0;
}

.faq-list .faq-answer {
    overflow: hidden;
}

.faq-list .faq-answer span {
    display: inline-block;
    background-color: var(--color-netflix-gray);
    padding: 1.5rem;
    text-align: justify;
    overflow: hidden;
    line-height: 1.2;
    font-size: 1.625rem;
}

.faq-list .faq-answer.closed {
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s cubic-bezier(.5,0,.1,1);
}

.faq-list .faq-answer.open {
    max-height: 1200px;
    transition: max-height .25s cubic-bezier(.5,0,.1,1);
}