html,
body {
    font-size: 16px;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-netflix-black);
    color: var(--color-netflix-white);
}

.container {
    margin: 0 auto;
    padding: 2rem;
}