:root {
    --color-netflix-red: #e50914;
    --color-netflix-white: #fff;
    --color-netflix-black: #000;
    --color-netflix-gray: #303030;
    --color-netflix-blue: #0071eb;
    --color-netflix-lite-gray: #737373;
}