.story-cards .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.story-cards .card .text {
    width: 520px;
    line-height: 1.3;
}

.story-cards .card .text h1 {
    font-size: 3.125rem;
    font-weight: bold;  
    margin-bottom: 0.5rem;
}

.story-cards .card .text h2 {
    font-size: 1.625rem;
    font-weight: 400;
}

.story-cards .card div.image {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 530px;
    height: 400px;
}

.story-cards .card div.image img {
    width: 100%;
    height: auto;
    z-index: 2;
}

.story-cards .card div.image div.video {
    height: 100%;
    left: 49.5%;
    max-height: 54%;
    max-width: 73%;
    position: absolute;
    top: 48%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.story-cards .card div.image div.video video,
.story-cards .card div.image div.watch-whenever-you-want video {
    width: 100%;
    height: 100%;
}

.story-cards .card div.image div.animation {
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    align-items: center;
    position: absolute;
    width: 70%;
    border: 2px solid var(--color-netflix-gray);
    border-radius: 0.75em;
    background-color: var(--color-netflix-black);
    z-index: 2;
    padding: 0.5rem 0.8em;
    top: 67%;
} 

.story-cards .card div.image div.animation img {
    width: 18%;
    
}

.story-cards .card div.image div.animation .description {
    margin-left: 1rem;
}

.story-cards .card div.image div.animation .description span {
    font-weight: bold;
}

.story-cards .card div.image div.animation .description div {
    margin-top: 0.5rem;
    color: var(--color-netflix-blue);
}

.story-cards .card div.image div.watch-whenever-you-want {
    left: 51%;
    max-height: 64%;
    max-width: 64%;
    position: absolute;
    top: 35%;
    transform: translate(-50%,-50%);
    width: 80%;
}